
## <summary>policy for dev</summary>


########################################
## <summary>
##	Transition to dev.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dev_domtrans',`
	gen_require(`
		type dev_t, dev_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dev_exec_t, dev_t)
')


########################################
## <summary>
##	Execute dev server in the dev domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dev_initrc_domtrans',`
	gen_require(`
		type dev_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dev_initrc_exec_t)
')


########################################
## <summary>
##	Search dev lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dev_search_lib',`
	gen_require(`
		type dev_var_lib_t;
	')

	allow $1 dev_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dev lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dev_read_lib_files',`
	gen_require(`
		type dev_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dev_var_lib_t, dev_var_lib_t)
')

########################################
## <summary>
##	Manage dev lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dev_manage_lib_files',`
	gen_require(`
		type dev_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dev_var_lib_t, dev_var_lib_t)
')

########################################
## <summary>
##	Manage dev lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dev_manage_lib_dirs',`
	gen_require(`
		type dev_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dev_var_lib_t, dev_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a dev environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dev_admin',`
	gen_require(`
		type dev_t;
		type dev_initrc_exec_t;
		type dev_var_lib_t;
	')

	allow $1 dev_t:process { ptrace signal_perms };
	ps_process_pattern($1, dev_t)

	dev_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dev_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dev_var_lib_t)

')

